@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
    background-color: #121212;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

$dpImageWidth: 50%;
.projectLayout {
    position: relative;
    width: 80vw;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 25px;
    .projectList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    .productCard {
        flex: 1;
        background-color: green;
        padding: 5px;
        border-radius: 5px;
    }
}

.launchBar {
    width: 75vw;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate( -50%, 0%);
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
    height: 5vh;
    .blurred {
        height: 100%;
        width: 100%;
        filter: blur(3px);
        background-color: #252030;
        box-shadow: none;
    }
}

.headBar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 2.5vh;
    display: flex;
    background-color: #333940;
    color: white;
    .notificationBar {
        padding: 10px;
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
    }
    .timeBar {
        position: absolute;
        right: 0;
        font-weight: bold;
    }
}

.intro {
    position: fixed;
    max-height: 70vh;
    background-color: #332940;
    border-radius: 5px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 10%);
    border: 1px solid grey;
    font-size: 0.9em;
    .fileBar {
        background-color: #333940;
        padding: 5px;
        display: flex;
        gap: 10px;
        align-content: center;
        span {
            padding: 5px;
            border-radius: 10px;
            height: 1%;
        }
        span:first-child {
            background-color: red;
        }
        span:nth-child(2) {
            background-color: yellow;
        }
        span:last-child {
            background-color: rgb(0, 255, 42);
        }
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
        .ProfileBrief {
            background-color: #252030;
            grid-row: 2/4;
            grid-column: 2/4;
            color: white;
            .skills {
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: 100%;
                width: 100%;
                .skill {
                    background-color: #121212;
                    text-align: center;
                }
            }
        }
        .ProfileIntro {
            background-color: #1F1B24;
            grid-row: 2/4;
            grid-column: 1/2;
            position: relative;
            color: white;
            padding: 5px;
            .profileImage {
                border-radius: 50%;
                width: 60%;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                height: auto;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                }
            }
            .content {
                padding: 10px;
                display: flex;
                flex-direction: column;
                .profiles {
                    display: flex;
                    gap: 5px;
                    padding: 5px;
                    img {
                        color: wheat;
                    }
                }
            }
        }
        .BackHeader {
            grid-row: 1/2;
            grid-column: 1/4;
            //
            background-image: url("https://i.giphy.com/media/UYBDCJjwOd9Re/giphy.webp");
            span {
                color: rgb(175, 174, 174);
            }
        }
    }
}